<server description="KAR example Increment Server">

  <featureManager>
    <feature>jaxrs-2.1</feature>
    <feature>jsonb-1.0</feature>
    <feature>mpHealth-3.0</feature>
    <feature>mpConfig-2.0</feature>
    <feature>mpRestClient-2.0</feature>
    <feature>beanValidation-2.0</feature>
    <feature>cdi-2.0</feature>
    <feature>concurrent-1.0</feature>
    <!-- feature>mpOpenTracing-1.3</feature -->
  </featureManager>
  
  <variable name="default.http.port" defaultValue="7080"/>
  <variable name="default.https.port" defaultValue="7443"/>

  <logging consoleLogLevel="WARNING" traceSpecification="*=warning:com.ibm.research.reefer.*=warning" maxFileSize="20" maxFiles="5"/>

  <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
                id="defaultHttpEndpoint" host="*" />

  <webApplication location="reefer-kar-simulator-server.war" contextRoot="/">
    <classloader apiTypeVisibility="+third-party" />
  </webApplication>

</server>
