<mat-card class="example-card" [style.backgroundColor]="'gainsboro'">
  <mat-card-content >
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="2px" class="stats-cards" >
          <mat-card fxFlex="80">
              <mat-card-header [style.backgroundColor]="'gainsboro'" [style.height.px]="'22'">
                  <mat-card-title>Order Simulator</mat-card-title>
                  <!--mat-card-subtitle>Subtitle</mat-card-subtitle-->
              </mat-card-header>

              <mat-card-content>
                  <div class="example-container" fxLayout="row" fxLayoutGap="10px">
                        <!--mat-form-field  style="width:330px !important" [style.width]="'45%'" appearance="fill" -->
                        <mat-form-field appearance="fill">
                            <!--mat-form-field   appearance="fill" fxLayout="row"-->
                           <input matInput min="0" max="100" step="10" ngStep="10"  name="orderTarget" [(ngModel)]="orderTarget" type="number" placeholder="0" [style.fontSize.px]="'17'" required>
                        <mat-hint align="start">Order Target ^</mat-hint>
                        </mat-form-field>
                       <mat-form-field appearance="fill">
                           <input matInput min="0" max="1000" step="1" ngStep="1"  name="windowSize" [(ngModel)]="windowSize" type="number" placeholder="0" [style.fontSize.px]="'17'" required>
                           <mat-hint align="start">Window Size ^</mat-hint>
                        </mat-form-field>  
                        <mat-form-field appearance="fill">
                        <input matInput min="0" max="100" step="10" ngStep="10"  name="orderUpdates" [(ngModel)]="orderUpdates" type="number" placeholder="0" [style.fontSize.px]="'17'" required>
                        <mat-hint align="start">Order Frequency Updates ^</mat-hint>
                        <!--input matInput min="0" max="100" step="10" ngStep="10" (change)="orderTargetChange($event)" name="orderTarget" [(ngModel)]="orderTarget" type="number" placeholder="0" [style.fontSize.px]="'17'" required-->
                          <!--input matInput  ng-change="delayChange()" ng-model="rate" name="rate" type="number" placeholder="0" required -->
                          <!--mat-hint align="front">Choose target utilization^</mat-hint-->
                      </mat-form-field>
                      <button fxLayoutGap="2px" align="end" style="margin-left:10px;" (click)="updateOrderSimulatorControlls($event)" mat-raised-button  color="primary"  [style.height.px]="'55'" [style.fontSize.px]="'17'">{{autoSimButtonLabel}}</button>
                      <!--button fxLayoutGap="2px" align="end" style="margin-left:10px;" (click)="updateOrderTarget($event)" mat-raised-button  color="primary" [style.width]="'52%'" [style.height.px]="'55'" [style.fontSize.px]="'17'">{{autoSimButtonLabel}}</button -->
                      <!--button [disabled]="orderTarget === 0"  fxLayoutGap="2px" align="end" style="margin-left:10px;" (click)="toggleEnableDisable($event)" mat-raised-button  color="primary" [style.width]="'52%'" [style.height.px]="'55'" [style.fontSize.px]="'17'">{{autoSimButtonLabel}}</button-->

                  </div>

              </mat-card-content>
          </mat-card>
          <!--mat-card fxFlex="1"> </mat-card-->
          <mat-card fxFlex="20" >
              <!--mat-card-header [style.backgroundColor]="'gainsboro'" [style.height.px]="'35'">
                  <mat-card-title ></mat-card-title>
              </mat-card-header-->
              <mat-card-content class="advance" color="primary" style="margin:14px; padding:5px">
                  <div fxLayout="row" fxLayoutAlign="start center">
                      <app-personaldetails fxFlex="80%">
                          <button [disabled]="createOrderManually === false" (click)="nextOrder()" mat-raised-button  color="primary" [style.width]="'100%'" [style.height.px]="'55'" [style.fontSize.px]="'17'">Create Order</button>
                          <!--button [disabled]="orderTarget > 0" (click)="nextOrder()" mat-raised-button  color="primary" [style.width]="'100%'" [style.height.px]="'55'" [style.fontSize.px]="'17'">Create Order</button-->

                      </app-personaldetails>
                      <app-personaldetails fxFlex="3%">

                      </app-personaldetails>
 
                   </div>

              </mat-card-content>

              <!--mat-hint align="end" [style.fontSize.px]="'10'">Move Ship One Day Ahead ^</mat-hint-->
          </mat-card>
      </div>

      

      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="2px" class="stats-cards" >
        <mat-card fxFlex="33"  style="backgroundColor:#9dade2;margin:35px; padding:25px">


            <mat-card-content>
                <div fxLayout="row" fxLayoutAlign="center center" width="100%">
                    <div  >
                        <h1>In-Transit Orders</h1>
    
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" width="100%">
                    <div >
                        <mat-label [style.font-size]="'50px'">{{inTransitOrders}}</mat-label>
    
                    </div>
                 </div>
                 <div fxLayout="row" fxLayoutAlign="center center">
                    <div >
                        <button  mat-button (click)="showInTransitOrders($event); " [style.font-size]="'20px'"> Click to view most recent orders</button><br />
                    </div>
                    
                    
                </div>
            </mat-card-content>
        </mat-card>
       <mat-card fxFlex="33" style="backgroundColor:#9dade2;margin:35px; padding:25px" >

            <mat-card-content class="advance" color="primary" >
                <div fxLayout="row" fxLayoutAlign="center center">
                    <div class="example-container">
                        <h1>Future Orders</h1>
    
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <div >
                        <mat-label [style.font-size]="'50px'">{{futureOrders}}</mat-label>
    
                    </div>
                 </div>
                 <div fxLayout="row" fxLayoutAlign="center center">
                    <div >
                        <button (click)="showFutureOrders()" [style.font-size]="'20px'"> Click to view most recent orders</button><br />
                    </div>
                    
                    
                </div>
            </mat-card-content>

            <!--mat-hint align="end" [style.fontSize.px]="'10'">Move Ship One Day Ahead ^</mat-hint-->
        </mat-card>
        <mat-card fxFlex="33" style="backgroundColor:#9dade2;margin:35px; padding:25px">
            <mat-card-content class="advance" color="primary" >
                <div fxLayout="row" fxLayoutAlign="center center">
                    <div class="example-container">
                        <h1>Spoilt Orders</h1>
    
                    </div>
                 </div>
                 <div fxLayout="row" fxLayoutAlign="center center">
                    <div >
                        <mat-label [style.font-size]="'50px'">{{spoiltOrders}}</mat-label>
 
                    </div>
                    
                    
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <div >
                        <button (click)="showSpoiltOrders()" [style.font-size]="'20px'"> Click to view most recent orders</button><br />
                    </div>
                    
                    
                </div>
            </mat-card-content>

            <!--mat-hint align="end" [style.fontSize.px]="'10'">Move Ship One Day Ahead ^</mat-hint-->
        </mat-card>
    </div>
  </mat-card-content>
</mat-card>

<mat-divider></mat-divider>
<br>

<div fxLayout fxLayoutAlign="center center">
    <mat-form-field fxFlex="40%">
      <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxFlex="100">
        <div class="mat-elevation-z8">
          <div class="col m12 s12 mat-elevation-z8" style="margin-top:-10px;border-radius:4px; background: linear-gradient(60deg,#6d6fc0,#50649c); padding:5px">
            <h2 class="white-text"> {{orderLabel}} </h2>
          </div>
            <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort class="mat-elevation-z8">

             <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selectedOrder($event, row) : null"  (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container>
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef class="table-head-fix" mat-sort-header> Order ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
                <ng-container matColumnDef="customerId">
                    <th mat-header-cell *matHeaderCellDef class="table-head-fix" mat-sort-header> Customer ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.customerId}} </td>
                </ng-container>
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef class="table-head-fix" mat-sort-header> Status </th>
                  <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>

                <ng-container matColumnDef="product">
                    <th mat-header-cell *matHeaderCellDef class="table-head-fix" mat-sort-header> Product </th>
                    <td mat-cell *matCellDef="let element"> {{element.product}} </td>
                </ng-container>
                <ng-container matColumnDef="productQty">
                    <th mat-header-cell *matHeaderCellDef class="table-head-fix" mat-sort-header> Product Qty </th>
                    <td mat-cell *matCellDef="let element"> {{element.productQty}} </td>
                </ng-container>

              <ng-container matColumnDef="voyageId">
                <th mat-header-cell *matHeaderCellDef class="table-head-fix"  mat-sort-header> Voyage ID </th>
                <td mat-cell *matCellDef="let element"> {{element.voyageId}}

                </td>
              </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

                <tr mat-row *matRowDef="let row; columns: displayedColumns;"  ></tr>


            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" [length]="totalElements"
            (page)="nextPage($event)"></mat-paginator>
        </div>

    </div>

</div>
