<server description="KAR example Increment Server">

	<featureManager>
		<!--feature>servlet-4.0</feature-->
		<feature>microprofile-1.0</feature>
	</featureManager>

	<variable name="default.http.port" defaultValue="9088" />
	<variable name="default.https.port" defaultValue="8443" />

	<!--httpEndpoint httpPort="${default.http.port}"
		httpsPort="${default.https.port}" id="defaultHttpEndpoint" host="*" /-->

	<httpEndpoint httpPort="9088" httpsPort="8443" id="defaultHttpEndpoint" host="*" />

	<webApplication location="reefer-frontend.war" contextRoot="/">
		<!--classloader apiTypeVisibility="+third-party" /-->
	</webApplication>

	<applicationManager autoExpand="true" />

</server>
