<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>KAR Reefer Actors App</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>kar-actor-classes</param-name>
		<param-value>
            com.ibm.research.kar.reefer.actors.OrderActor,
			com.ibm.research.kar.reefer.actors.ReeferActor,
			com.ibm.research.kar.reefer.actors.VoyageActor,
			com.ibm.research.kar.reefer.actors.ReeferProvisionerActor,
			com.ibm.research.kar.reefer.actors.RestHelper,
			com.ibm.research.kar.reefer.actors.OrderManagerActor,
			com.ibm.research.kar.reefer.actors.ScheduleManagerActor,
			com.ibm.research.kar.reefer.actors.DepotManagerActor,
			com.ibm.research.kar.reefer.actors.AnomalyManagerActor
		</param-value>
	</context-param>
		<context-param>
			<param-name>kar-actor-types</param-name>
			<param-value>order,reefer,voyage,reefer-provisioner,resthelper,order-manager,schedule-manager,depot-manager,anomaly-manager</param-value>
		</context-param>
</web-app>
