<mat-nav-list>
  <div class="profile-card">
    <div class="header"></div>
    <h2>Reefer Dashboard</h2>
    <!-- Attribution for the athanasios.jpg: https://unsplash.com/@thanasis_p?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText -->
    <img src="assets/athanasios.jpg">
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader>Views</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Create Order View</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/orders">Orders View</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/reefers">Reefers View</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/schedule">Active Voyages View</a>
  <!--a mat-list-item routerLinkActive="list-item-active" routerLink="/ships">Ships View</a-->
  <mat-divider></mat-divider>

  <!--h2 matSubheader>Tools</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
     <mat-icon>import_contacts</mat-icon>
     Contacts
  </a-->
</mat-nav-list>


